.nav{
    text-align: left;
    margin:0px;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 48px;

}

.nav li{
    width: max-content;
    display: block;
    margin: 8px 0;
    padding: 8px 24px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border-radius: 0 50px 50px 0;
}

.nav li:hover{
    background-color: #ffffff44;
}

.nav li:active, li:active{
    background-color: #ffffff;
    color: rgb(115, 196, 216);
}