.form-input {
  border: 2px solid #eaeaea;
  font-size: 10pt;
  text-align: left;
  height: 28px;
  padding: 8px 24px;
  color: #505050;
  outline: none;
  background-color: white;
}

input[type=number]{
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type="number"]:out-of-range {
  border: 2px solid #FF7A7A;
}

.form-input:focus {
  border: 2px solid rgb(115, 196, 216);
}

input[type=submit] {
  outline: none;
  border: none;
  display: block;
  font-size: 10pt;
  height: 40px;
  color: white;
  background-color: rgb(112, 179, 243);;
  padding: 0 24px;
  font-weight: 600;
  margin: 12px auto auto;
}