.landing-page{
    display: flex;
    background-color: rgb(115, 196, 216);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: auto;
    bottom: auto;
}

.content-body{
    height: auto;
    width: 100%;
    margin: 12px 12px 12px 0;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.16);
}