.form-parent {
    display: flex;
    background-color: rgb(115, 196, 216);
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: auto;
    bottom: auto;
}

.logo-icon{
  height: 96px;
  width: 96px;
  margin-bottom: 24px;
}
  
.login-form {
  height: auto;
  width: min-content;
  padding: 24px 32px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #ffffffaa;
  border-radius: 16px;
  flex-direction: column;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
}


.login-form input,select {
  margin-bottom: 8px;
}

#forgot-pw {
  font-size: 8pt;
  text-decoration: underline;
  font-weight: 600;
  color: #505050;
}